<!DOCTYPE html>
<html lang="en">
<head>   
  <meta charset="UTF-8">
  <title>URL Shortener </title>
  <link rel="stylesheet" href="./css/make_short.css">
  <!-- Iconsout Link for Icons -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
</head>
<body>



  
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />


  <title>About Us</title>  


<link href="./css/main.d8e0d294.css" rel="stylesheet"></head>

<body class="">
<div class="background-color-layer" style="background-image: url('assets/images/bg.jpg')"
></div>

 <main class="content-wrapper">
  <header class="white-text-container section-container">
    <div class="text-center">
      <h1>URL SHORTNER</h1>
      <p>This Website will help you to convert Long URL to Short URL</p>      
    </div>
  </header>
  <div class="wrapper">
    <form action="../api/make_short.php" autocomplete="off" method="POST">
      <input type="text" spellcheck="false" name="url" placeholder="Enter or paste a long url" required>
      <i class="url-icon uil uil-link"></i>
      <button>Shorten</button>
    </form>
  </div>

  </form>
  </div>

  <script src="./js/make_short.js"></script>

</body>
</html>

